body{
    background-color: deepskyblue;
}

.number, h1{
    font-family: 'Londrina Solid', cursive;
    color: red;
    text-align: center;
}
.number{
    box-sizing: border-box;
    border: 1px solid black;
    width: 17%;
    height: 10em;
    margin-right: 10px;
    float: left;
    background-color: yellow;
    font-size: 30px;
    padding-top: 120px;
    margin-top: 20px;
    margin-left: 25px;
}

h1{
    font-size: 48px;
}