@font-face {
    font-family: "Taco Salad";
    src: url("../fonts/TACOSRG_.TTF");
}

body {
    margin: 0 auto;
    background: linear-gradient(rgba(141,153,174, .7), rgba(141,153,174, .7)), url("../img/spanish_flags.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.header {
    color: red;
    font-family: "Taco Salad", "cursive";
    font-size: 60px;
}

label{
    color: green;
    /*margin-left: 100px;*/
    /*margin-top: 70px;*/
    /*padding: 20px;*/
}

#verb {
    /*width: 200px;*/
    /*height: 30px;*/
    /*margin-right: 30px;*/
    background-color: red;
    color: white;
}
