@font-face {
    font-family: "Taco Salad";
    src: url("../fonts/TACOSRG_.TTF");
}

body {
    margin: 0 auto;
    background: linear-gradient(rgba(141,153,174, .9), rgba(141,153,174, .9)), url("../img/hola-logo.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.header {
    color: red;
    font-family: "Taco Salad", "cursive";
    font-size: 60px;
}

.verbLabel{
    color: green;
    margin-left: 110px;

}

#verb {
    text-align: center;
    height: 30px;
    background-color: red;
    color: white;
}

#demo{
    color: green;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#tense{
    margin-left: 10px;
    height: 30px;
    width: 120px;
    /*background-color: red;*/
}

#conjugate{
    margin-left: 50px;
    height: 30px;
    background-color: yellow;
}

.tenseLabel{
    color: green;
    margin-left: 40px;
}

