.fancy-header{
    text-align: center;
}
h1, h2, h3{
    color: blue;
    text-decoration: underline;
    text-align:center;
}
body{
    background-color: blue;
    background-image: url("../img/sky.jpeg");
    background-position: center;
    background-size: cover;
    font-family: 'Gidugu', sans-serif;
    font-size: x-large;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: square;
}
table, th, td{
    border: 1px solid red;
}
tr, td{
    padding: 20px;
    font-size: xx-large;
}
a:link{
    color: pink;
}

a:visited{
    color: blue;
}

a:hover{
    color: orange;
}
a:active{
    color:yellow;
}
p{
    color:red;
}
.process{
    color:green;
    border: 1px solid black;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.values{
    color:red;
    border: 1px solid black;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.vision{
    color: chocolate;
    border: 1px solid black;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.centered{
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 4px;
    height: 200px;
    color:green;
}
p{
    text-align: center;
}
